In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/mhc1_cleavages_nc_ranks.csv')

In [3]:
df.head()

,terminus,cleavage_window,following_epitope,elution_cleavage,cleaved_count,occurrences,cleav_prob,min_epitope_rank,is_presented
0,n,KPSDAASEAA,ASEAARPAT,0,0,3,0.000000,4.7871,0
1,n,PSDAASEAAR,SEAARPATS,1,1,3,0.333333,2.3096,0
2,n,SDAASEAARP,EAARPATST,1,1,4,0.250000,2.2622,0
3,n,DAASEAARPA,AARPATSTL,1,1,4,0.250000,0.0273,1
4,n,AASEAARPAT,ARPATSTLN,0,0,4,0.000000,22.2150,0

In [4]:
df.isna().sum()

terminus                 0
cleavage_window      27710
following_epitope        0
elution_cleavage         0
cleaved_count            0
occurrences              0
cleav_prob               0
min_epitope_rank         0
is_presented             0
dtype: int64

In [5]:
print(f'Number of data points before dropping NaNs: {len(df):,}')

df.dropna(inplace = True)
print(f'Number of data points after dropping NaNs: {len(df):,}')

Number of data points before dropping NaNs: 2,888,876
Number of data points after dropping NaNs: 2,861,166

In [6]:
n_term = df.loc[df['terminus'] == 'n', ['cleavage_window', 'is_presented']] # 1,430,583 samples
c_term = df.loc[df['terminus'] == 'c', ['cleavage_window', 'is_presented']] # 1,430,583 samples

In [7]:
# n_term
# create train (80%), val (10%), test (10%) files
n_train = n_term.sample(frac = 0.8, random_state = 1234)
n_val = n_term.drop(n_train.index)
n_test = n_val.sample(frac = 0.5, random_state = 1234)
n_val = n_val.drop(n_test.index)

assert len(n_train) + len(n_val) + len(n_test) == len(n_term)

In [8]:
# c_term
# create train (80%), val (10%), test (10%) files
c_train = c_term.sample(frac = 0.8, random_state = 1234)
c_val = c_term.drop(c_train.index)
c_test = c_val.sample(frac = 0.5, random_state = 1234)
c_val = c_val.drop(c_test.index)

assert len(c_train) + len(c_val) + len(c_test) == len(c_term)

In [9]:
n_train.to_csv('../data/n_train.csv', index = False)
n_val.to_csv('../data/n_val.csv', index = False)
n_test.to_csv('../data/n_test.csv', index = False)

c_train.to_csv('../data/c_train.csv', index = False)
c_val.to_csv('../data/c_val.csv', index = False)
c_test.to_csv('../data/c_test.csv', index = False)