In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/mhc1_cleavages_nc_ranks.csv')

In [3]:
df.head()

,terminus,cleavage_window,following_epitope,elution_cleavage,cleaved_count,occurrences,cleav_prob,min_epitope_rank,is_presented
0,n,AKPSDAASEA,ASEAARPAT,0,0,3,0.000000,4.7871,0
1,n,KPSDAASEAA,SEAARPATS,1,1,3,0.333333,2.3096,0
2,n,PSDAASEAAR,EAARPATST,1,1,4,0.250000,2.2622,0
3,n,SDAASEAARP,AARPATSTL,1,1,4,0.250000,0.0273,1
4,n,DAASEAARPA,ARPATSTLN,0,0,4,0.000000,22.2150,0

In [4]:
df.isna().sum()

terminus             0
cleavage_window      0
following_epitope    0
elution_cleavage     0
cleaved_count        0
occurrences          0
cleav_prob           0
min_epitope_rank     0
is_presented         0
dtype: int64

In [5]:
n_term = df.loc[df['terminus'] == 'n', ['cleavage_window', 'elution_cleavage']]
print('Samples in n-term: ', len(n_term))
c_term = df.loc[df['terminus'] == 'c', ['cleavage_window', 'elution_cleavage']]
print('Samples in c-term: ', len(c_term))

Samples in n-term:  1434989
Samples in c-term:  1419501

In [6]:
# n_term
# create train (80%), val (10%), test (10%) files
n_train = n_term.sample(frac = 0.8, random_state = 1234)
n_val = n_term.drop(n_train.index)
n_test = n_val.sample(frac = 0.5, random_state = 1234)
n_val = n_val.drop(n_test.index)

assert len(n_train) + len(n_val) + len(n_test) == len(n_term)

In [7]:
# c_term
# create train (80%), val (10%), test (10%) files
c_train = c_term.sample(frac = 0.8, random_state = 1234)
c_val = c_term.drop(c_train.index)
c_test = c_val.sample(frac = 0.5, random_state = 1234)
c_val = c_val.drop(c_test.index)

assert len(c_train) + len(c_val) + len(c_test) == len(c_term)

In [8]:
n_train.to_csv('../data/n_train.csv', index = False)
n_val.to_csv('../data/n_val.csv', index = False)
n_test.to_csv('../data/n_test.csv', index = False)

c_train.to_csv('../data/c_train.csv', index = False)
c_val.to_csv('../data/c_val.csv', index = False)
c_test.to_csv('../data/c_test.csv', index = False)